# node_modules/
# .next/
# out/
# dist/
# *.log
# .DS_Store

main/node_modules/
main/.next/
main/out/
main/dist/

main/*.log
main/.DS_Store



dashboard/node_modules/*
dashboard/.next/*
dashboard/out/*
dashboard/dist/*
dashboard/*.log
dashboard/.DS_Store

!dashboard/app


backend/.venv
backend/.DS_Store

!dashboard/.env
!main/.env
!backend/.env
!backend/storage/packages/*

temp.md