node_modules/
.next/
out/
dist/
*.log
.DS_Store




main/node_modules/
main/.next/
main/out/
main/dist/
main/*.log
main/.DS_Store



app/node_modules/
app/.next/
app/out/
app/dist/
app/*.log
app/.DS_Store
